
.one{width: 1190px;margin: 0 auto;}
.oneleft{ float: left; width: 196px; margin-right: 10px; border: 2px solid #1D7AD9; height: 361px; border-top: 0;}
.subdl{ position: relative;}
.subdl dl{ border-bottom: 1px dashed #ddd; padding: 11px;}
.subdl:last-child dl{ border-bottom: 0;}
.subdl dl dt a{ color: #1D7AD9; font-size: 16px; font-family: "微软雅黑"; display: block; background: url(../img/ico4.png) no-repeat right center; margin-bottom: 10px;}
.subdl dl dd a{ display: inline-block; margin-right: 10px; line-height: 22px;}
.subdl:hover{ background-color: #1D7AD9;}
.subdl:hover dl dt a{ color: #fff; background-image: url(../img/ico5.png);}
.subdl:hover dl dd a{ color: #fff;}
.subnav{ position: absolute; left: 196px; top: 0; border: 2px solid #1D7AD9; padding: 30px; background-color: #fff; display: none; z-index: 999;}
.subdl:hover .subnav{ display: block;}
/* ---------- banner start ---------- */
.wrapper{ width:1190px; margin:0 auto;}
.banner{ float:left; margin-top:10px; width:755px; height:353px; overflow:hidden; zoom:1; position:relative; z-index:10;}
.banimg a img{ width:755px; height:353px;}
.banspan{ position:absolute; right:10px; bottom:15px; z-index:20;}
.banspan span{ display:inline-block; margin-right:8px; color:#fff; width:18px; height:18px; text-align:center; line-height:18px; background-color:#000; border-radius:50%; overflow:hidden; cursor:pointer;}
.banspan span.current{ background-color:#FF7700;}
/* ---------- banner end ---------- */

/* ---------- 新品首发 start ---------- */
.newproduct{ float:right; width:215px; margin-top:15px;}
.title1 strong{ float:left; display:inline-block; background:url(../images/ico/whole.png) no-repeat -140px -150px; width:17px; height:20px; margin-right:5px;}
.title1 span{ font-family:"微软雅黑"; font-size:16px; line-height:14px; float:left; font-weight:normal; line-height:20px;}
.newcon{ width:213px; height:312px; border:1px solid #ddd; overflow:hidden; zoom:1; margin-top:14px; position:relative; z-index:10;}
.newimg a img{ width:213px; height:312px;}
.newspan{ position:absolute; bottom:15px; left:65px; z-index:20;}
.newspan span{ display:inline-block; margin:0 4px; color:#fff; width:10px; height:10px; text-align:center; line-height:18px; background-color:#FF7700; border-radius:50%; overflow:hidden; cursor:pointer;}
.newspan span.current{ background-color:#fff;}
/* ---------- 新品首发 end ---------- */

